.container {
    max-width: 830px;
    margin: 0 auto;
}

.header {
    margin-bottom: 70px;
}

.inner {
    padding: 30px 50px 115px;
    position: relative;
    text-transform: uppercase;
    display: grid;
    grid-template-rows: 140px 125px 350px 80px auto 130px auto;

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: linear-gradient(#b1b1b1 .1em, transparent .1em);
        background-size: 100% 14px;
        opacity: .2;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.space-bottom {
    padding-bottom: 60px;
}

.space-left {
    padding-left:75px;
}

.horizontal-end {
    margin-left: auto;
    justify-self: flex-end;
}

.verticle-end {
    align-self: flex-end;
}
