h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    font-size: 128px;
    line-height: 128px;
    margin-bottom: 30px;
    margin-left: -100px;
}

h3 {
    font-size: 22px;
    line-height: 25px;
}

h4 {
    font-size: 16px;
    line-height: 22px;
}

a {
    color: #fff;
    text-decoration: none;
}